#tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    margin-right: 15px;
    margin-left: 15px;
}

p:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}